/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);*/
/*body {
  background: #e74c3c;
  padding: 20px;
}*/
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.marginTop{
  margin-top: 100px;
  /*width: 200px;*/
}
/*
.list-item{
  font-family: FontAwesome;
}
.list-item span:hover:after,
.list-item span.fav:after {
  content: ' \f00c';
  color: #4caf50;
}
.list-item li.fav:hover:after {
  content: ' \2606';
}*/
table.table-striped.table-hover.dsp-list > tbody > tr > td:nth-child(6):after{
    cursor: pointer;
    content: '\f00d';
    font-family: FontAwesome;
    color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2px;
}
.time-table{
 /* margin-top: 100px;
  font-family: 'Open Sans', Helvetica;
  color: #efefef;
  border: 2px inset #30495e*/
      margin-top: 100px;
    font-family: 'Open Sans', Helvetica;
    color: #f3f3f3;
    border: 1px solid #969696;
    box-shadow: 0px 0px 1px 1px #d2d2d2;
}
.dsp-list{
    overflow: hidden;
    margin-top: 15px;
    font-family: 'Open Sans', Helvetica;
    color: #252525;
    border: 1px solid #d2d2d2;
    font-size: 13px;
    margin-left: -5px;
}
.dsp-list thead{
  font-size: 11px;
}

table.table-striped.table-hover.dsp-list > thead > tr > th:last-child > span{
  border: 1px solid #444e58;
  border-radius: 2px;
  padding: 2px;
}
table tr:nth-child(2n) {
  background: #eff0f1;
}
table tr:nth-child(2n+3) {
  background: #fff;
}
table th, table td {
  padding: 0.5em;
  width: 8em;
  
}
th { text-align: center; }
tr { text-align: center; }
td.cell{
    color: #0f1113;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 9px;
}

.days, .time {
  background: #34495e;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: center;
}

.time {
  width: 3em !important;
}

#modal{
  display: none;
}
#modal h1{
  color: #fafafa;
  margin-top: 40%;
  padding: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#info{
  padding: 10px;
  max-height: 470px;
  overflow: hidden;
}
#info h6.prof-borda{
  margin-top: 10px;
  background-color: #fafafa;
  padding-bottom: 5px;
}

#lista{
    width: 100%;
    /*height: 391px;*/
    float: left;
    /*border: 1px solid #34495e;*/
    /*padding: 10px 2px 10px 2px;*/
    /*margin: 0px 10px 0px 10px;*/
    font-size: .9em;
    height: 370px;
    overflow: auto;
    max-height: 370px;
}

#lista ul{
  list-style: none;
}
.list-head{
      background-color: #ca7373;
    padding: 5px;
    font-weight: 600;
    color: #fafafa;
    margin: 0;
    box-shadow: -1px 2px 20px 0px #b9a2a2;
}
.list-item{
      padding: 0;
      margin-top: 2px;
      border-bottom: 1px solid #fafafa;
}

.list-item:nth-child(2n) {
  border-left: 3px solid #2c3e50;
  border-right: : 2px solid #999;
  background: #ecf0f1;
}
.list-item:nth-child(2n+1) {
  border-left: 3px solid #2980b9;
  border-right: : 2px solid #999;
  background: #fafafa;
}
.list-item:hover{ 
      background-color: #dff0d8;
      font-weight: 600;
      cursorc: ;: pointer;
}
.list-item > span { 
      display: block; 
      padding: 5px;
}

#overlay{
    background-color: #4caf50;
    z-index: 9996;
    position: fixed;
    top: 15px;
    right: 50px;
    display: block;
    width: 400px;
    height: inherit;
    display: none;
    
    margin: 0 auto;
    /*vertical-align: center;*/
    padding: 10px;
    color: #efefef;
    text-align: center;
    font-weight: 400;
    font-family: 'Open Sans', Helvetica;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
    box-shadow: 0px 0px 2px 0px rgb(175, 175, 175);
}
.panel-body {
    padding: 0px 1px;
    font-size: 13px;
    cursor: pointer;
}

#overlay {
      /*background-color: rgba(46,204,113,0.94);
      z-index: 9006;
      position: absolute;
      /*left: 50%;
      top: 10px;
      width: 400px;
      height: inherit;
      display: none;
      display: block;
  margin-left: auto;
  margin-right: auto;
      padding: 10px;
      color: #efefef;
      text-align: center;
      font-weight: 600;
      font-family: 'Open Sans', Helvetica;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);
      box-shadow: 0px 0px 5px 0px rgba(143,143,143,1);*/
}

.corVermelha{ background: #e74c3c !important; border: 1px dashed #eb685a;}
.corVerde{    background: #2ecc71 !important; border: 1px dashed #f0ffd4;}

.blue { background: #3498db; }

.purple { background: #9b59b6; }

.navy { background: #34495e; }

.green { background: #2ecc71; }

.red { background: #e74c3c; }

.orange { background: #f39c12; }

.corVermelha{ background: #da2424 !important;}
.corVerde{    background: #bdff3b !important;}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -moz-transition: ease 0.5s all;
  -o-transition: ease 0.5s all;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  bottom: 90%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media (max-width: 768px) {
  #modal {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: red;
        z-index: 10000;
}